<html>

<head>
	<title>TrackBar</title>
	<script src="lib/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

	<div id="app">

		<audio id="player" @timeupdate="onTimeUpdate">
			<source src="Beck-Back-to-You.mp3" type="audio/mpeg">
		</audio>

		<div class="slidercontainer">
			<input type="range" id="trackBarDuration" min="0" v-model="currentTime" @change="onChangeDuration" class="slider-duration" step="1"/>
			<div class="div-volume">
				<input type="range" id="trackBarVolume" min="0" max="1" v-model="volume" @change="onChangeVolume" class="slider-volume" step="0.01"/>
				<button id="mute-btn" @click="mute" class="btn-control" :class="btnMuteClass" title="Без звука"></button>
			</div>

			<div class="div-button-control">
				<button id="play-btn" @click="PlayPause" :class="btnPlayClass" title="Начать воспроизведение"></button>
				<button id="play-btn" @click="stop" class="btn-stop" title="Остановить воспроизведение"></button>
			</div>
		</div>

	</div>

</body>

<script src="lib/main.js"></script>

</html>
